body {
    height: 100%;
    margin: 0;
    background-image: url(../images/library_background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

h1 {
    display: block;
    text-align: center;
    background-color: #654321;
    margin-top: 0;
    padding: 0.2rem;
    border-bottom: solid black;
}

h3 {
    margin-bottom: 5px;
}

h4 {
    margin-top: 10px;
}

#new-book-button {
    display: block;
    margin: 0 auto;
}

.popup-form {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -75%);
    border: thick solid #654321;
    width: 40vw;
    margin: 0 auto;
    padding: 10px;
    background-color: #d0c8b0;
}

.card {
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    width: 30vw;
    background-color: #d0c8b0;
    border-radius: 20px;
    padding: 10px;
}

.card > p {
    margin: 5px;
}